@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
  --primary: #3264a8;
  --background: #ffffff;
}

.primary {
  color: var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 0px 0px;
  font-size: 1rem;
  margin-right: .8rem;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
}
.btn {
  padding: 14px 32px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 9px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
